In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
data=pd.read_csv("conversion_data.csv")
data.head(2)

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0

In [99]:
# Remove the rowa containing null values
data.dropna()

       country  age  new_user  source  total_pages_visited  converted
0           UK   25         1     Ads                    1          0
1           US   23         1     Seo                    5          0
2           US   28         1     Seo                    4          0
3        China   39         1     Seo                    5          0
4           US   30         1     Seo                    6          0
...        ...  ...       ...     ...                  ...        ...
316195      US   26         1     Ads                    9          0
316196      US   27         1  Direct                    6          0
316197   China   25         0     Ads                    4          0
316198      US   22         0     Seo                    4          0
316199      UK   24         0     Ads                    4          0

[316200 rows x 6 columns]

In [100]:
# Create the independent and dependent varaibles
X=data[['age','new_user','total_pages_visited']]
y=data['converted']

In [101]:
# Create the training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [102]:
# Extract the test set from data
ind_list = list(y_test.index)
data_test=data.iloc[ind_list]

In [103]:
# Train logit model
from sklearn.linear_model import LogisticRegression
logit=LogisticRegression(max_iter=6000)
model_lr=logit.fit(X_train, y_train)

In [104]:
# Predict probabilities using the test set
y_hats = model_lr.predict_proba(X_test)

In [ ]:
# Craete a column for probabilities 
data_test['Probabilities']=y_hats[:,1]

In [115]:
# Sort Porabilities in desecnding order
data_sort=data_test.sort_values(by=['Probabilities'], ascending=False)
data_sort

,country,age,new_user,source,total_pages_visited,converted,Probabilities
105440,US,25,0,Ads,27,1,9.999884e-01
117539,US,17,0,Seo,26,1,9.999863e-01
1305,US,25,0,Direct,26,1,9.999753e-01
74131,US,29,0,Ads,26,1,9.999669e-01
107810,UK,20,0,Direct,25,1,9.999634e-01
...,...,...,...,...,...,...,...
129226,US,61,1,Seo,1,0,2.773718e-06
199708,US,63,1,Ads,1,0,2.395396e-06
126102,Germany,64,1,Ads,1,0,2.226050e-06
197725,China,64,1,Seo,1,0,2.226050e-06
265167,US,79,1,Direct,1,0,7.411353e-07

In [114]:
# Save the output as an excel file for further use and decision-making in Excel
data_sort.to_excel("output.xlsx")